:root {
	--primary-color: #FF4D6A;
	--red-color: #F00028;
}

body {
	font: 24px tahoma, sans-serif;
	margin: 0;
	color: #363636;
}

h2 {
	margin: 15px 0 12px 0;
}

a, a.visited {
	color: #0d47a1;
}

header {
	color: #fff;
	background-color: var(--primary-color);
	padding: 10px;
}

header h1 {
	margin: 20px 0 0 0;
}

header p {
	margin: 0 0 20px 0;
	text-align: center;
}

.main {
	width: 80%;
	margin: 20px auto;
	position: relative;
}

.row {
	width: 100%;
	margin: 0 auto;
	position:relative;
}

textarea, input[type='text'], input[type='date'], select{
	width: 300px;
	margin: 10px auto;
	font-size: 16px;
	padding:8px;
	display: block;
	background-color: #fff;
	border-color: #dbdbdb;
	border-radius: .375em;
	color: #363636;
	outline: none;
}

textarea {
	height: 140px;
}

input{
	height: 30px;
	min-width:340px;
	font-size: 24px;
	transition: 0.3s;
	padding: 6px;
}

input:focus, select:focus {
	border: 2px solid var(--primary-color);
	outline: none;
}

label {
	font-size: 18px;
}

select {
	font-size: 20px;
	height: 50px;
	text-align: center;
}

input [type=checkbox]{
	position:relative;
	bottom:10px;
}

.cell {
	display:inline-block;
	width: calc(50% - 50px);
	padding:0px 20px;
	vertical-align:top;

}

.cell-wrap {
	display:inline-block;
	width: calc(50% - 4px);
	padding:0px;
	vertical-align:top;

}

.cell-full {
	display:inline-block;
	width: calc(100% - 60px);
	padding:20px;
}

.flex {
    display: flex;
}

.flex-columns {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.input-container{
    padding: 20px;
    width: 50%;
}

.navigation {
	padding: 0px 20px;
}

button, .navigation a {
	padding: 10px 24px;
	font-size: 20px;
	background-color: var(--primary-color);
	color:#fff;
	text-decoration: none;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid var(--primary-color);
	min-width: 180px;
	margin: 20px auto 0 auto;
}

button.invert {
	background-color: #fff;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

button:disabled {
    opacity: 0.8;
    cursor: auto;
}

.secondary {
	background-color: #888;
	border: 1px solid #888;
}

.round {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    font-size: 30px;
	padding: 0;
	margin: 0;
}

.cancel {
	background-color:#fff;
	color: #0d47a1;
	border: 1px solid var(--primary-color);
}

.hide {
	display: none!important;
}

.left {
	float: left;
	position: absolute;
	margin-left: 20px;
}

.min-height-450 {
	min-height: 450px;
}

.mx-20 {
	margin:auto 20px!important;
}

.my-20 {
	margin: 20px auto!important;
}

.my-40 {
	margin: 40px auto!important;
}

.mr-20{
	margin-right: 20px!important;
}

.mr-40{
	margin-right: 40px!important;
}

.mt-0{
	margin-top:0px!important;
}

.mb-20{
	margin-bottom:20px!important;
}

.mb-40{
	margin-bottom:40px!important;
}

.mb-10{
	margin-bottom:10px!important;
}

.cell label, .cell-full label {
	float:left;
	width:100%;
	color: var(--primary-color);
	font-size: 18px;
}

.fieldset label{
	color:#000;
}

label span {
	position:relative;
	bottom:9px;
}

#title {
	font-size: 28px;
	clear: both;
}

#question {
	font-size:24px;
}

#answer {
	visibility: hidden;
	height: 2px;
}

#greetings {
	padding: 20px;
}

#summary-details {
	position:absolute;
	width: 900px;
	margin: 0 auto;
	z-index: 30;	
	background-color: #fff;
	border: 1px solid #bbb;
	left: calc(50% - 450px);
	top: 0px;
	font-size:18px;
	box-shadow: #ddd 2px 2px 4px;
	min-height: 450px;
}

.summary-header {
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px;
}

.summary-content {
	margin: 30px;
}

.table-container {
	width: 100%;
	margin: 40px auto
}

table {
	background-color:#fff;
	border-top: 1px solid #444;
	border-right: 1px solid #444;
	width:100%;
	border-spacing:0px;
}

tr {
	border: 1px solid #444;
}

td, th {
	border-bottom: 1px solid #444;
	border-left: 1px solid #444;
	margin:0px;
	padding: 4px;
}

th {
	font-weight:bold;
	text-align:center;
}

.no-border{
	border:0px;
}

.alt {
	background-color:#fff;
}

#komunikat{
	color: var(var(--red-color));
	font-size: 15px;
}

.right{
	text-align:right;
}

.center {
	text-align:center
}

.bold{
	font-weight:bold;
}

.green{
	color:green;
}

.red{
	color:var(--red-color);
}

.orange{
	color:orange;
}

.separator{
	margin:0px 20px 0 20px;
	border-top:2px solid var(--primary-color);
}

.col-1{
	display:inline-block;
	width:160px;
	margin:0;
	font-weight:bold;
}

.empty {
	height: 200px;
}

@media print {

	body * {
		visibility:hidden;
	}

	#summary-details, #summary-details *   {
		visibility:visible;
	}

	#summary-details {
		border: 0px solid #fff;
	}

	.print-hide {
		visibility:hidden!important;
	}
}

@media screen and (max-width: 768px) {
	
	.main {
	  width: 95%;
	}
	
	.left  {
	  position: relative;
	}

	.input-container {
		padding: 0px;
		width: 100%;
		clear: both;
	}

	.flex {
		display: block;
	}

	#summary-details {
		width: 100%;
		left: 0px;
	}

	.table-container {
		overflow: auto;
	}

  }